@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-size: 12px; 
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(237, 12%, 33%);

    position: relative;
    box-sizing: border-box;
}

.attribution {
    position: absolute; 
    bottom: 0;
    margin-bottom: 2em;
}

#container {
    background-color: white;
    border-radius: 20px;
    margin: 12px;
    position: relative;
    height: auto;
}

.svg-women {
    text-align: center;
    background: url(../images/bg-pattern-mobile.svg) no-repeat top center;
    height: 140px;
    
}

.mobile {
    transform: translate(-5%, -55%); /* axe x, axe y */
}

.desktop1, .desktop2 {
    display: none;
}

.faq-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: hsl(238, 29%, 16%);
    margin-bottom: .7em;
}

.accordeon-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 2em 2em 2em;
}

.accordeon {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 1em 0 2em 0;
    padding-bottom: 1em;   
    cursor: pointer;
}

.title {
    margin-right: 3em;
    color: hsl(237, 12%, 33%);
}

.arrow {
    width: 10px;
    height: 7px;

}

.accordeon-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordeon-item:hover {
    color: hsl(14, 88%, 65%);
}


.active {
    display: block;
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    margin-top: 1em;
}

.active::after {
    transform: rotate(180deg);
}

.accordeon-item-parr {
    display: none;
}

.accordeon-item-parr > p {
    color: hsl(240, 6%, 50%);
    font-weight: 400;
    padding-top: 1em
}

/* Trolling gag */
.link {
    color: hsl(240, 6%, 50%); 
    cursor: pointer
}

@media screen and (min-width: 376x) {
    .accordeon-item-parr > p {
        width: 245px;
        font-size: 11px;
        line-height: 1.5em;
    }
}

/* Responsive desktop */



@media screen and (min-width: 376px) {
    #container {
        background-color: white;
        border-radius: 20px;
        margin: 12px;
        width: 800px;
        height: 450px;
        position: relative;

        display: flex;
    }

    .svg-women {
        height: 500px;
        width: 50%;
        position: relative;
        overflow: hidden;
        background: url(../images/bg-pattern-desktop.svg) no-repeat;
        background-size: 850px; /*width height*/
        background-position-x: -520px;
        background-position-y: -260px;
        margin: 0;
    }

    .mobile {
        display: none;
    }

    .desktop1 {
        display: block;
        width: 400px;
        transform: translate(-70px, 25%);
    }

    .desktop2 {
        display: block;
        position: absolute;
        left: -7.6em;
        top: 38%
    }

    .accordeon-container {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        width: 300px;
    }
    

    .faq-title {
        text-align: start;
    }
   
}