@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-size: 12px; 
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(237, 12%, 33%);

    position: relative;
}

.attribution {
    position: absolute; 
    bottom: 0;
    margin-bottom: 2em;
}

#container {
    background-color: white;
    border-radius: 20px;
    margin: 12px;
    position: relative;
}

.svg-women {
    text-align: center;
    background: url(../images/bg-pattern-mobile.svg) no-repeat top center;
    height: 140px;
    
}

.mobile {
    transform: translate(-5%, -55%); /* axe x, axe y */
}

.desktop1, .desktop2 {
    display: none;
}

.faq-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: hsl(238, 29%, 16%);
}

.accordeon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 2em;
}

.accordeon-item {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 1em 0 2em 0;
    padding-bottom: 1em;   
    cursor: pointer;
}

.active {
    font-weight: 700;
}

.title {
    margin-right: 3em;
}

.arrow {
    width: 10px;
    height: 7px;

}

.accordeon-item-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-text-item {
    display: none;
}

.active {
    display: block;
    color: hsl(240, 6%, 50%);
    font-weight: 400;
    margin-top: 1em;
}

